@use '../../../styles/variables.scss' as *;

@use 'sass:math';

.animatedThumbnail{
    cursor: pointer;
    opacity: 1;
    //animation: fadeIn 1s ease infinite;
    //animation-fill-mode: forwards;
}
// .thumbnail{
//     box-shadow: $shadow-3;
//     border-radius: .25rem;
// }

.thumbnail{
    box-shadow: $shadow-3;
    border-radius: .25rem;
    transition: transform .5s;
&:hover{
        transform: scale(1.05);
    }
}
.thumbnailCentered{
    // position: absolute;
    // transform: scale(2);
}

@keyframes fadeIn {
    from {
        //opacity: 0;
        transform: scale(.9);
    }
    to {
        //opacity: 1;
        transform: scale(1.1);
    }
}