
@use './variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Global Type Styles
%headertag{
    font-family: $font;
    font-weight: $font-weight-bold;
    color: $primary;
}

body{
    h1{
         @extend %headertag;
    }
    h2{
        @extend %headertag; 
    }
    h3{
        @extend %headertag;
    }
    h4{
        @extend %headertag;
    }
    h5{
        @extend %headertag;
    }
    h6{
        @extend %headertag;
    }
    p{
        font-family: $font;
    }
    li{
        font-family: $font;
        color: $primary;
    }
}