@use '../../../styles/variables.scss' as *;
.compContainer{
    height: 100vh;
}

.downArrow{
    font-size: $font-size-base + 3.2rem;
    color: $primary;
    animation: pulse infinite 1.75s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.logo{
    height: 300px;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}