@use '../../../styles/variables.scss' as *;

$font-glow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $green, 0 0 30px $green, 0 0 40px $green, 0 0 0px $green, inset 0 0 0px $green;

.compContainer{
    background-color: rgba($primary-dark, .9);
    border: 1px solid $green;
    box-shadow: $font-glow;
    border-radius: 1rem;
    p{
        color: white
    }
    
}