@use '../../../styles/variables.scss' as *;
@use "sass:color";

//$darkGreen: color.change($green, $blackness: 40%);
.compContainer{
    background-color: rgba(#1e1e1e, .9);
    //border: 10px solid $green;
    //box-shadow: $font-glow;
    border-radius: 1rem;
    p{
        color: white
    }
    
}