@use '../../../styles/variables.scss' as *;



.compContainer{
    background-color: rgba($primary-dark, .9);
    border: 1px solid $green;
    box-shadow: $font-glow;
    border-radius: 1rem;
    p{
        color: white
    }
    
}